/**
 * Write CSS code in this file to style your JavaFX user interface
 *
 * Note: You must link this file to your scene object by adding the following line of code to the
 * JavaFX start() method:
 *   scene.getStylesheets().add("main.css");
 */



.control-layout {
    -fx-alignment: center;
}
.app-background-layout {
    -fx-background-color: white;
}

.puzzle-layout {
    -fx-alignment: center;
    -fx-padding: 40px
}

.message-layout {
    -fx-alignment: center;
}

.game-incomplete-layout {
    -fx-font-size: x-large;
    -fx-font-family: Chalkboard, "Chalkboard";
    -fx-padding: 20px;
    -fx-text-fill: red;

}

.game-complete-layout {
    -fx-text-fill: lime;
}

.clue-layout {
    -fx-text-fill: white;
    -fx-font-size: x-large;
    -fx-font-family: Arial, "Comic Sans MS";
    -fx-font-weight: bolder;
}

.puzzle-number {
    -fx-text-fill: black;
    -fx-font-size: x-large;
    -fx-font-family: Chalkboard, "Chalkboard";

}